= form_for :schedule, url: schedules_path, html: { class: "form-horizontal" } do |f|
  = render partial: '/schedules/form', locals: { f: f }
  .actions
    = f.submit t("menu.create"), data: { 'disable-with' => t( "menu.create" ) }, class: 'btn btn-primary'

%br
= link_to t("menu.list"), schedules_path, class: 'btn btn-default'
